body::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(
        circle at center,
        #ff506499,
        #ffb4964d,
        transparent 90%
    );
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 400px;
    height: 400px;
    margin: 150px auto 0 auto;
    border-radius: 5px;
    box-shadow: #ff506499 0px 7px 29px 0px;
}

h2 {
    margin-top: -40px;
}

button {
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
}

button:hover {
    background: #ffb4964d;
    color: white;
}